body{
  margin:0px;
  font-family: "Noto Sans KR";
}

a{
  text-decoration:none;
}
@media (min-width: 800px){
  h1{
    border-bottom: pink 10px solid;
    padding: 50px;
    margin: 0px;
  }
  .ulCover{
    border-right: pink 10px solid;
    margin: 0px;
  }
  #grid{
    display:grid;
    grid-template-columns:1fr 5fr;
  }
}
